{%- if include.nav-item %}
{%- capture where_value %}item.path contains '{{ include.nav-item.folder }}'{% endcapture %}
{%- assign pages_contents = site.pages | where_exp: 'item', where_value %}

            <div class="dropdown-menu" aria-labelledby="navbarDropdown" aria-hidden="true">
    {%- for item in pages_contents %}
    
    {%- capture item_classes %}{% if item.url == page.url %}active{% endif %}{% endcapture %}
                
                    <a class="dropdown-item {{ item_classes }}" href="{{ item.url }}" title="{{ item.title.long }}">
                        {{ item.title }}
                    </a>
            
       
    {%- endfor %}
            </div>
{%- endif %}